<!DOCTYPE html>
<html lang="en">

<head>
	<style>

	</style>
	<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="./assets/styles.css" /> -->
	<script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
	<div id="app">
		<table style="position: absolute; right: 50%; top: 50%;">
			<tbody>
				<tr v-for="item in music" id="music">
					<td id="Item" v-for="(d, name) in item">{{name}} {{d}}</td>
				</tr>
			</tbody>
		</table>
		<p>{{currentId}}</p>
		<input placeholder="id..." v-model.number="currentId" v-on:keyup.enter="GetById">

		<h1 v-for="(i, value) in singleMusicRecord">{{i}}</h1>

		<button id="EpiqButton" @click="GetAll" style="width: 100px; height: 100px; position:absolute; right: 50%; top: 60%;">Show items</button>
	</div>

	<script src="./main.js"></script>
	<script>
		const mountedApp = app.mount('#app')
	</script>
</body>

</html>